<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Layout</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <aside>
            <img src="https://cdn-icons-png.flaticon.com/512/3106/3106773.png" alt="Foto de Perfil">
            <h1 class="name">
                Joyce Caroline
            </h1>
            <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia, facere adipisci totam velit eum repellendus fugiat sequi quas et dolorum qui aut accusamus libero.</p>
            <ul>
                <li><a href=”#”>Link1</a></li>
                <li><a href=”#”>Link2</a></li>
                <li><a href=”#”>Link3</a></li>
                <li><a href=”#”>Link4</a></li>
            </ul>
        </aside>
        <main>
            <h2>Lista de Tarefas</h2>
            <div class="lists">
                <h2 class="day">
                    Dia
                </h2>
                <h2 class="night">
                    Noite
                </h2>

            </div>
        </main>
    </div>
</body>
</html>
