<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Layout</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <aside>
            <img src="https://images.vexels.com/media/users/3/147103/isolated/lists/e9bf9a44d83e00b1535324b0fda6e91a-cone-de-linha-de-perfil-do-instagram.png" alt="Foto de Perfil">
            <h1 class="name">
                Joyce Caroline
            </h1>
            <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia, facere adipisci totam velit eum repellendus fugiat sequi quas et dolorum qui aut accusamus libero.</p>
            <ul>
                <li><a href=”#”>Link1</a></li>
                <li><a href=”#”>Link2</a></li>
                <li><a href=”#”>Link3</a></li>
                <li><a href=”#”>Link4</a></li>
            </ul>
        </aside>
        <main>
            <h2 class="title">Lista de Tarefas</h2>
            <div class="lists">
                <div class="day">
                    <h2>Dia</h2>
                    <div class="items-list">
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="night">
                    <h2>Noite</h2>
                    <div class="items-list">
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                            <li>Lorem ipsum dolor sit amet consectetur.
                            </li>
                        </ul>
                </div>

            </div>
        </main>
    </div>
</body>
</html>
