* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}



.container{
    overflow-x:scroll;
    max-width: 2560px;
    padding: 1.7rem;
    background-color: #ffcaa2;
    background-size: cover;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.7rem;
    display: flex;
}

aside {
    padding: 2rem;
    height: 20%;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    gap: 1.7rem;

}

img{
    width: 10rem;
    border-radius: 50rem;
    background-color: rgb(194, 185, 185);
}

.name{
    font-family: 'Playfair Display', serif;
}

.description{
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 1.2rem  0.9rem;
}

a:link{
    text-decoration: none;
    background-color: #ff7f1d38;
    padding: 0.5rem;
    border-radius: 10px;
    color: #000;
}

a:hover{
    background-color: #f1e4ac;
    padding: 1rem 0.9rem;
}

main{
    min-width: 70%;
    overflow-x:scroll;
    background-color: #a77e97;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title{
    font-family: 'Playfair Display', serif;
    padding-top: 3rem;
    padding-bottom: 1.7rem;
    display: flex;
    justify-content: center ;
}

.lists {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 0.1rem;
}

.day, .night {
    font-family: 'Playfair Display', serif;
    background-color: #D5C5C8;
    line-height: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
}



.items-list{
    font-family: Arial, Helvetica, sans-serif;
    list-style-position: inside;
    padding-top: 1.7rem;
}

button {
    padding: 2%;
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    border-radius: 10%;
    border: none;
    background-color: #a77e97;
}

button:hover{
    background-color: #fa3bb1;
    font-size: 100%;
}


